@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto&display=swap");
body {
  background-color: rgb(255, 255, 240);
}

.scale:hover {
  cursor: pointer;
  transition: all 1seg;
  transform: scale(1.03);
  color: rgb(205, 129, 48);
}

p {
  font-family: "Roboto", sans-serif;
  color: rgb(205, 129, 48);
  font-size: 1em;
}

h1, h2 {
  color: rgb(205, 129, 48);
}

#nosotras {
  background-color: rgb(205, 129, 48);
  width: 90%;
  height: auto;
  margin: 50px auto;
  padding: 30px 30px;
  color: rgb(255, 255, 240);
}
#nosotras p {
  color: rgb(255, 255, 240);
  font-family: "Open Sans", sans-serif;
}

.crema {
  color: rgb(255, 255, 240);
}

.choco {
  color: rgb(205, 129, 48);
}

.background {
  background-color: rgb(205, 129, 48);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.tamaño {
  width: 300px;
  height: 300px;
}

.destacados {
  width: 100%;
  height: auto;
  margin: 20px 100px;
}

.header {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.bg-crema {
  background-color: rgb(255, 255, 240);
}

#botonera img {
  width: 200px;
}
#botonera ul li a {
  font-size: 1.2rem;
  transition: background-size 0.3rem;
  color: rgb(205, 129, 48);
}
#botonera ul li a:hover {
  font-weight: 600;
  background-size: 100% 2px;
  color: rgb(205, 129, 48);
}

#carouselExampleIndicators img {
  height: 350px;
}

/* tablet */
@media screen and (max-width: 767px) {
  #carouselExampleIndicators img {
    height: 150px;
  }
  #botonera img {
    width: 150px;
  }
}
/* mobile */
@media screen and (max-width: 460px) {
  #carouselExampleIndicators img {
    height: 100px;
  }
  #botonera img {
    width: 100px;
  }
}
.contact_form {
  width: 350px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 240);
  padding-left: 30px;
}

input {
  background-color: rgb(251, 251, 251);
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 129, 48);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: rgb(251, 251, 251);
  width: 300px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 129, 48);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

#enviar {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(205, 129, 48);
  border-color: rgb(205, 129, 48);
  border-style: solid;
  border-radius: 10px;
  width: 300px;
  cursor: pointer;
}

button p {
  color: #fff;
  padding-top: 10px;
}

span {
  color: rgb(205, 129, 48);
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h2 {
  font-size: 39px;
  text-align: center;
  padding-bottom: 20px;
  color: rgb(205, 129, 48);
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario {
  display: flex;
  justify-content: center;
}

#mapas {
  margin-left: 10px;
}

#contactanos {
  justify-content: center;
  align-items: center;
}

/* tablet */
@media screen and (max-width: 767px) {
  #contactanos {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  #mapas {
    width: 350px;
    align-items: center;
    margin: 0;
  }
  .contact_form {
    padding: 0;
  }
}
/* mobile */
@media screen and (max-width: 460px) {
  #contactanos {
    flex-direction: column;
  }
  #mapas {
    width: 100%;
  }
  .contact_form {
    width: 300px;
    padding: 0;
  }
  input {
    width: 300px;
  }
  #enviar {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
}
#fotos img {
  object-fit: cover;
  height: 400px;
}

/*# sourceMappingURL=style.css.map */
