body{
    background-color: $Secondarycolor
}

.scale:hover{
    cursor: pointer;
    transition: all 1seg;
    transform: scale(1.03);
    color: $maincolor;
} 

p{
    font-family: $mainfont;
    color: $maincolor;
    font-size: $fontSm;
}

h1,h2{
    color: $maincolor;
}
 
#nosotras{
    background-color: $maincolor;
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 30px 30px;
    color: $Secondarycolor;
    p{
        color: $Secondarycolor; 
        font-family: $secondaryfont;
    }
}

.crema{
    color:$Secondarycolor
}

.choco{
    color:$maincolor
}

.background{
    background-color: $maincolor
}

.flex{
    display: flex;
    justify-content: space-between;
}

.tamaño{
    width: 300px; 
    height: 300px;
}

.destacados{
    width: $w-100;
    height: auto;
    margin: 20px 100px;
    
}

.header{
    width: $w-100;
    height: auto;
    margin: 50px 0;
}

.bg-crema{
    background-color:$Secondarycolor
}

#error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   h1{
    text-align: center;
    font-size: 350px;
    margin-bottom: 0;
   }
   h2{
   margin-top: 0;
   }
    a{
        font-size: 25px;
        color: $maincolor;
    }
}

/* tablet */
@media screen and (max-width: 767px){
  #error{
    h1{
        font-size: 200px;
    }
    h2{
        font-size: 30px;
    }
    a{
        font-size: 20px;
    }
  }
}

/* mobile */
@media screen and (max-width: 460px){
    #error{
        h1{
            font-size: 100px;
        }
        h2{
            font-size: 15px;
        }
        a{
            font-size: 10px;
        }
      }
}