//tamaños

$w-100:100%;
$h-100:100%;


//colores

$maincolor:rgb(205, 129, 48);
$Secondarycolor:rgb(255, 255, 240);


//fonts

$mainfont:'Roboto', sans-serif;
$secondaryfont:'Open Sans', sans-serif;
$fontXXL:4em;
$fontLg:3em;
$fontMd:2em;
$fontSm:1em;






